.menu-container {
  width: 220px;
  background-color: #1f2937;
  color: #fff;

  height: 100vh;
  overflow-y: auto;

  padding: 1rem;

  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 1rem;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;

        padding: 0.55rem 0.75rem;
        color: #fff;

        border-radius: 8px;
        transition: background 0.2s;

        i {
          margin-right: 0.6rem;
        }

        &:hover {
          background-color: #374151;
        }

        &.active {
          background-color: #3b82f6;
        }
      }
    }
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .menu-container {
    width: 100% !important;
    height: auto !important;
    overflow-y: visible;
    padding: 0.5rem 1rem;
  }
}
